<h2 class="mat-title">Lista de feriados</h2>

<mat-card style="padding: 0">
  <mat-progress-bar [mode]="isLoadingResults ? 'indeterminate': 'determinate'"></mat-progress-bar>

  <table mat-table [dataSource]="data" matSort matSortActive="created" matSortDisableClear matSortDirection="desc" style="width: 100%">
    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let row">{{row.dayOfMonth}}/{{row.month}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descricao</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" style="width: 100px">
        <button mat-icon-button [routerLink]="['/holiday', 'edit', row.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteHoliday(row)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</mat-card>

<div class="holiday-list__create-btn-container">
  <button mat-fab color="primary" matTooltip="Cadastrar novo feriado" matTooltipPosition="left" [routerLink]="['/holiday', 'create']">
    <mat-icon>add</mat-icon>
  </button>
</div>
