<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Calendário de feriados</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="app-nav-list">
        <a mat-list-item routerLink="/" routerLinkActive="link-active">
          <mat-icon matListIcon>calendar_today</mat-icon>
          <p matLine>Calendario</p>
        </a>
        <a mat-list-item routerLink="/holiday/list" routerLinkActive="link-active">
          <mat-icon matListIcon>date_range</mat-icon>
          <p matLine>Lista de feriados</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/account/list" routerLinkActive="link-active">
          <mat-icon matListIcon>credit_card</mat-icon>
          <p matLine>Lista de contas</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <section class="app-router-container">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

