<h2 class="mat-title">Editar feriado</h2>

<form (submit)="submit()">
  <mat-card style="max-width: 1024px; margin: 0 auto;">
    <mat-card-content>
      <app-holiday-form [holiday]="holiday"></app-holiday-form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions style="display: flex">
      <span style="flex: 1"></span>
      <button mat-button type="button" color="warn" routerLink="/holiday/list">CANCELAR</button>
      <button mat-raised-button type="submit" color="primary">SALVAR</button>
    </mat-card-actions>
  </mat-card>
</form>
